.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  
  p-table {
    border-collapse: collapse;
    width: 100%;
  }
  .p-button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .p-button:hover {
    background-color: #0056b3;
  }

  p-panel {
    margin-top: 100px;
  }

  :host ::ng-deep .p-datatable-gridlines {
    background-color: var(--blue-500);
    border-color: var(--blue-500);
    color: #ffffff;
}

  
  